<launch>

    <!--Gazebo-->
    <include file="$(find robot_simulator)/launch/gazebo.launch" >
        <arg name="world_file" value="$(find robot_simulator)/worlds/Map9.world"/>
    </include>
    <!--Map Server-->
    <include file="$(find robot_simulator)/launch/map_server.launch" >
    </include>
    <!--AMCL-->
    <include file="$(find robot_simulator)/launch/amcl.launch" >
    </include>
    <!--Move Base-->
    <include file="$(find robot_simulator)/launch/move_base.launch"/>
    <!--Destination
    <include file="$(find robot_simulator)/launch/destination.launch"/>-->
    <!--Follower-->
    <include file="$(find robot_simulator)/launch/follow.launch" >
        <arg name="simulation" default="true"/>
    </include>
    <!--Rviz-->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find robot_simulator)/config/rviz.rviz"/>

</launch>
